.DS_Store
.idea/
.deploy/
.venv/
.vite/
allure-results/
dist/
data/
build/
_static/
backups/
local/
**/__pycache__
**/.pytest_cache
**/*.egg-info
pytest.xml
.coverage
pytest-coverage.txt
*.py-e
**/.setup-scripts/
allure-results/
allure-report/
credentials.json
**/node_modules/
