.DS_Store
.idea/
.venv/
allure-results/
dist/
build/
**/__pycache__
**/.pytest_cache
**/*.egg-info
pytest.xml
.coverage
pytest-coverage.txt
*.py-e
/data/
**/.setup-scripts/
allure-results/
allure-report/
credentials.json
/.deploy/
node_modules/
webapp/node_modules/
_static/
backups/
/local/
